colorlog~=6.7.0
arrow~=1.2.3
pytest~=7.1.3
PyAutoGUI~=0.9.53
selenium~=3.141.0
requests~=2.31.0
JayDeBeApi~=1.2.3
psycopg2~=2.9.9
PyMySQL~=1.0.2
pymssql~=2.2.10
configobj~=5.0.6
bs4~=0.0.1
beautifulsoup4~=4.11.1
openpyxl~=3.0.10
py~=1.11.0